<div class="center hero-unit">
  <h2>
    Experiment run by Donghee Hong and Adrien Di Pasquale
    for Ms. Gweon Online Learning and Communication 2012 course at KAIST
  </h2>
</div>

<div class="row-fluid">
  <div class="span12">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :login %>
      <%= f.text_field :login %>
      <div>
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>