<h1>Admin Page</h1>

<h2> Users </h2>
<ul>
  <li> <%= link_to "Users list", users_path %> </li>
  <li> <%= link_to "New user", new_user_path %> </li>
</ul>
<h2> Traits </h2>
<ul>
  <li> <%= link_to "Traits list", traits_path %> </li>
  <li> <%= link_to "New trait", new_trait_path %> </li>
</ul>