<h1>Home</h1>

<div class="row-fluid">
  <div class="span6">

    <% if (!@tasks or @tasks.empty?) and !@questionnaire %>
      <% if current_user.step.sequence_order == 1 %>
        For now on, you only have to fill up your profile :
        <%= link_to "here", edit_traits_user_path(current_user) %> <br />
        That's it !<br /></br />
        Meet you on Monday 1st Dec. 1pm in W2 for the next parts :)
      <% else %>
        You have finished this step, congratulations !
        <!--You have finished ! thank you for participating :)-->
      <% end %>

    <% else %>

      <% if @tasks %>
        <% if @tasks.size > 1 %>
          Please perform all of these tasks :
          <ul>
            <% @tasks.each do |task| %>
              <li>
                <%= link_to task.name, task %>
              </li>
            <% end %>
          </ul>
        <% elsif @tasks.size == 1 %>
          Please perform this <%= link_to "task", @tasks.first %>.
        <% end %>
      <% end %>

      <% if @questionnaires.size == 1 %>
          Please fill up this <%= link_to "questionnaire", @questionnaires.first %>.
      <% end %>

    <% end %>

  </div>
</div>
