/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$navbarText: #000;
$navbarBrandColor: #000;
$navbarLinkColor: #000;
$navbarBackground: #D8E3CF;

@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
  overflow-y: scroll;
}

.clear{
  clear: both;
}

h1{
  font-size: 1.2em;
}
h4{
  margin-bottom: 1em;
}

.container-fluid{
  max-width: 1024px;
  margin: auto;
}

header.navbar.user_connected{
  margin-bottom: 0;
}
.navbar-inner{
  background-image: none;
  .brand .step{
    color: #FFF;
  }
}
.breadcrumbs-wrapper{
  margin-top:-1px;
}
.breadcrumbs{
  margin-bottom: 1em;
  display: table;
  width: 100%;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: table-row;
    li{
      display: table-cell;
      line-height: 30px;
      .triangle{
        float: right;
      }
      .content{
        padding: 0 1em;
        margin-right: 15px;
        height: 30px;
        overflow: hidden;
      }
      .triangle{
        width: 0; height: 0; line-height: 0; font-size: 0;
        border-top: 15px solid transparent;
        // border-left: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }
      opacity: 0.5;
      &.selected{
        opacity: 1;
        font-weight: bold;
      }
    }
  }
}


@mixin step-color($color){
  .content, &.navbar-inner{
    background-color: $color;
  }
  .triangle{
    border-left: 15px solid $color;
  }
}
.step_1{
  @include step-color(#72B3BD);
}
.step_2{
  @include step-color(#91D1C7);
}
.step_3{
  @include step-color(#D8E3CF);
}
.step_4{
  @include step-color(#DCBCA8);
}
.step_5{
  @include step-color(#FFC78E);
}

.navbar-text .user_login{
  color: #FFF;
  font-weight: bold;
}
.navbar nav li i{
  margin-right: 0.5em;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}