/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$navbarText: #000;
$navbarBrandColor: #000;
$navbarLinkColor: #000;
$navbarBackground: #D8E3CF;

@import "bootstrap";
@import "bootstrap-responsive";

/* universal */

html {
  overflow-y: scroll;
}

.clear{
  clear: both;
}

h1{
  font-size: 1.2em;
}
h4{
  margin-bottom: 1em;
}

.container-fluid{
  max-width: 1024px;
  margin: auto;
}

.navbar-inner{
  background-image: none;
  &.registration{
    background-color: #72B3BD;
  }
  &.pre-test{
    background-color: #91D1C7;
  }
  &.practice{
    background-color: #D8E3CF;
  }
  &.post-test{
    background-color: #DCBCA8;
  }
  &.questionnaire{
    background-color: #FFC78E;
  }
  .brand .step{
    color: #FFF;
  }
}

.navbar-text .user_login{
  color: #FFF;
  font-weight: bold;
}
.navbar nav li i{
  margin-right: 0.5em;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}