// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exon_destroy{
  display: none;
}

#hidden_exons{
  display: none;
}

.row-fluid.answer_task_submit{
  margin-top: 1em;
}

.question_row{
  margin: 0 0 1em 0;
}

.task_material{
  .exon{
    background-color: #3A87AD;
    color: #D9EDF7;
  }
}