<footer class="footer">
  <small>
    <a href="https://twitter.com/dongheeH">Donghee Hong</a>
    & <a href="http://adipasquale.github.com">Adrien Di Pasquale</a>,
    Online Learning & Communication 2012 Course @ <a href="http://www.kaist.ac.kr">KAIST</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'https://github.com/adipasquale/personalized_learning#readme' %></li>
      <li><%= link_to "Contact", 'mailto:adrien.dipasquale@gmail.com' %></li>
    </ul>
  </nav>
  <div class="clear"></div>
</footer>