<footer class="footer">
  <small>
    Donghee Hong & <a href="adipasquale.github.com">Adrien Di Pasquale</a>,
    Online Learning & Communication 2012 Course @ <a href="kaist.ac.kr">KAIST</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
  <div class="clear"></div>
</footer>